.piece-letter .tview2 move,
.tview2 .piece-letter move,
.piece-letter .pv_box .pv span,
.pv_box .pv .piece-letter span,
.piece-letter .explorer-box .moves td:first-child,
.explorer-box .moves .piece-letter td:first-child,
.piece-letter .explorer-box .tablebase td:first-child,
.explorer-box .tablebase .piece-letter td:first-child,
.piece-letter .analyse__fork move,
.analyse__fork .piece-letter move,
.piece-letter #analyse-cm .title,
#analyse-cm .piece-letter .title,
.tview2 glyph,
.mselect__list,
.analyse__fork glyph {
 font-family:'Noto Sans'
}
.tview2 eval,
.tview2 comment .by,
.ceval .engine .cloud,
.analyse__fork eval {
 font-family:'Roboto'
}
.tview2 move,
.pv_box .pv span,
.explorer-box .moves td:first-child,
.explorer-box .tablebase td:first-child,
.analyse__fork move,
#analyse-cm .title {
 font-family:'Noto Chess', 'Noto Sans'
}
.analyse__controls .fbt {
 color:#999
}
.crosstable__users,
.crosstable__score,
.crosstable povs:hover,
.cmn-toggle+label::after,
.mselect__label,
#analyse-cm .title {
 background:linear-gradient(to bottom, #3c3934, #33312e 100%)
}
.cmn-toggle:hover+label::after,
.mselect__label:hover {
 background:linear-gradient(to bottom, #44413b, #3b3935 100%);
 color:#ccc
}
.ceval {
 background:linear-gradient(to bottom, #3c3934, #33312e 100%)
}
#modal-wrap,
.variant-racingKings .cg-wrap.cg-wrap cg-container::before,
.mselect__list,
#analyse-cm {
 box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22)
}
.fbt {
 background:none;
 border:none;
 outline:none;
 color:#bababa
}
.cmn-toggle:focus+label::before,
.cmn-toggle:hover+label::before {
 box-shadow:0 0 12px #999
}
.tview2 move,
.ceval help,
.ceval .engine {
 white-space:nowrap;
 overflow:hidden
}
.tview2 comment .by,
.pv_box .pv {
 white-space:nowrap
}
.tview2-column>interrupt>comment {
 overflow-wrap:break-word;
 word-break:break-word
}
.tview2 comment .by,
.pv_box .pv,
.crosstable__users,
.explorer-box .games td span {
 overflow:hidden;
 text-overflow:ellipsis
}
.mselect__label::after,
.mselect__list .current::after {
 font-size:1.2em;
 vertical-align:middle;
 font-style:normal;
 font-weight:normal;
 text-transform:none;
 speak:none;
 content:attr(data-icon);
 opacity:0.9
}
#modal-overlay {
 position:fixed;
 top:0;
 left:0;
 bottom:0;
 right:0;
 background:rgba(0,0,0,0.6);
 z-index:109
}
.explorer-box .overlay {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 z-index:2
}
#promotion-choice {
 position:absolute;
 width:100%;
 height:100%
}
.tview2-column {
 display:flex;
 flex-flow:row wrap
}
#modal-overlay,
.ceval .switch,
.analyse__fork,
.analyse__fork move,
.copyables .pair {
 display:flex;
 flex-flow:row wrap;
 align-items:center
}
#analyse-cm a,
.mselect label span,
.mselect a {
 display:flex;
 flex-flow:row nowrap;
 align-items:center
}
.mselect__label {
 display:flex;
 flex-flow:row wrap;
 align-items:center;
 justify-content:space-between
}
.mselect__list .current {
 display:flex;
 flex-flow:row nowrap;
 align-items:center;
 justify-content:space-between
}
#modal-wrap,
.continue-with,
.crosstable povs,
.crosstable__users,
.crosstable__score,
.crosstable__matchup,
.mselect__list,
.analyse__tools,
.action-menu__tools>*,
.training-box {
 display:flex;
 flex-flow:column
}
.crosstable,
.analyse__tools,
.mselect__label,
#modal-wrap,
.tview2-inline move.active,
.tview2-inline move:hover,
.ceval .engine .cloud,
.mselect__list,
#analyse-cm {
 border-radius:3px
}
.crosstable,
.analyse__tools {
 overflow:hidden
}
.crosstable .sep,
.explorer-box .bar span:first-child,
.explorer-box .config .choices span:first-child {
 border-radius:3px 0 0 3px
}
.explorer-box .bar span:last-child,
.explorer-box .config .choices span:last-child {
 border-radius:0 3px 3px 0
}
.analyse-controls .fbt,
.copyables .pair .action {
 border-radius:0 0 3px 3px
}
coords {
 position:absolute;
 display:flex;
 pointer-events:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 color:#fff;
 text-shadow:0 1px 2px #000;
 font-weight:bold
}
.coords-no coords {
 display:none
}
coords {
 font-size:8px
}
@media (min-width: 320px) {
 coords {
  font-size:calc(8px + 4 * ((100vw - 320px) / 880))
 }
}
@media (min-width: 1200px) {
 coords {
  font-size:12px
 }
}
coords.ranks {
 flex-flow:column-reverse;
 top:1px;
 right:0;
 height:100%;
 width:.8em
}
coords.ranks.black {
 flex-flow:column
}
coords.files {
 bottom:0px;
 left:0;
 text-align:left;
 flex-flow:row;
 width:100%;
 height:1.4em
}
coords.files.black {
 flex-flow:row-reverse
}
coords.files coord {
 padding-left:4px
}
coords coord {
 flex:1 1 auto
}
coords .is3d .cg-wrap coords coord {
 color:#fff !important;
 text-shadow:0 1px 2px #000 !important
}
coords .is3d .cg-wrap coords.files {
 bottom:calc(1px - 2.5%)
}
coords .is3d .cg-wrap coords.files coord {
 padding-left:3px
}
:root {
 --cg-coord-color-white: #fff;
 --cg-coord-color-black: #fff;
 --cg-coord-shadow: 0 1px 2px #000
}
coords {
 text-shadow:var(--cg-coord-shadow)
}
.orientation-white .files coord:nth-child(2n+1),
.orientation-white .ranks coord:nth-child(2n),
.orientation-black .files coord:nth-child(2n),
.orientation-black .ranks coord:nth-child(2n+1) {
 color:var(--cg-coord-color-white)
}
.orientation-white .files coord:nth-child(2n),
.orientation-white .ranks coord:nth-child(2n+1),
.orientation-black .files coord:nth-child(2n+1),
.orientation-black .ranks coord:nth-child(2n) {
 color:var(--cg-coord-color-black)
}
@media (min-width: 800px), (orientation: landscape) {
 .coords-out coords {
  text-shadow:none
 }
 .coords-out coords.ranks {
  right:-15px;
  top:0;
  width:12px
 }
 .coords-out coords.ranks coord {
  transform:translateY(42%)
 }
 .coords-out coords.files {
  bottom:-15px;
  left:0;
  text-align:center
 }
 .coords-out coords coord {
  color:#999 !important
 }
}
body {
 --board-scale: 1
}
@media (max-width: 799px) and (orientation: portrait) {
 body {
  --col1: 1
 }
 .main-board cg-board {
  border-radius:0
 }
}
body ::-webkit-scrollbar,
body ::-webkit-scrollbar-corner {
 width:.5rem;
 background:#262421
}
body ::-webkit-scrollbar-thumb {
 background:#4d4d4d
}
body ::-webkit-scrollbar-thumb:hover,
body ::-webkit-scrollbar-thumb:active {
 background:#6b6b6b
}
body.resizing {
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
cg-resize {
 display:none
}
@media (min-width: 800px) {
 cg-resize {
  display:block;
  position:absolute;
  right:-9px;
  bottom:-9px;
  width:22px;
  height:22px;
  cursor:nwse-resize
 }
 cg-resize::before,
 cg-resize::after {
  background:#000;
  content:'';
  position:absolute;
  width:12px;
  height:1px
 }
 cg-resize::before {
  width:5px;
  transform:translate(7px, 8px) rotate(-45deg)
 }
 cg-resize::after {
  transform:translate(1px, 6px) rotate(-45deg)
 }
 cg-resize:hover {
  border-radius:50%;
  background:rgba(214,79,0,0.5)
 }
 .resizing cg-resize {
  border-radius:50%;
  background:rgba(98,153,36,0.5)
 }
}
#modal-overlay {
 justify-content:center
}
#modal-wrap {
 background:#262421;
 position:relative;
 padding:2rem;
 text-align:center;
 max-width:100vw;
 max-height:96vh
}
#modal-wrap>div {
 overflow:auto
}
#modal-wrap .close {
 color:#bababa;
 position:absolute;
 font-size:16px;
 line-height:27px;
 width:32px;
 height:32px;
 cursor:pointer;
 top:0;
 right:0;
 background:none
}
@media (min-width: 800px) {
 #modal-wrap .close {
  top:-12px;
  right:-12px;
  background:#3c3934;
  border-radius:50%
 }
}
#modal-wrap .close:hover {
 background:#c33;
 color:#fff
}
.continue-with>*:not(:first-child) {
 margin-top:1em
}
.color-icon.white::before {
 content:"J"
}
.color-icon.black::before {
 content:"K"
}
.color-icon.random::before {
 content:"l"
}
.crosstable__users {
 flex:1 1 auto
}
.crosstable {
 width:100%;
 line-height:1.9em;
 display:flex
}
.crosstable fill,
.crosstable povs {
 background:#262421;
 flex:1 1 auto
}
.crosstable povs,
.crosstable__users,
.crosstable__score,
.crosstable__matchup {
 text-align:center
}
.crosstable__users {
 max-width:40vw;
 text-align:left
}
.crosstable__users a {
 padding-left:2vmin
}
.crosstable__score {
 flex:0 0 auto;
 font-weight:bold
}
.crosstable__score span {
 padding:0 2vmin
}
.crosstable__matchup {
 flex:1 1 auto;
 font-weight:bold;
 background:#293a49
}
.crosstable povs a {
 color:#999;
 flex:0 0 50%
}
.crosstable povs:hover a {
 opacity:1 !important
}
.crosstable povs a.loss {
 opacity:.2
}
.crosstable povs.current a {
 background:#a1420a;
 color:#fff;
 opacity:1 !important
}
.crosstable povs.new {
 border:#404040
}
.crosstable povs a.loss {
 opacity:.2
}
@media (max-width: 649px) {
 .crosstable povs {
  display:none
 }
 .crosstable povs:nth-last-child(-n+12) {
  display:flex
 }
}
.crosstable .sep {
 border-left:1px solid #404040;
 margin-left:.3em
}
.crosstable .win {
 font-weight:bold;
 color:#629924
}
.crosstable .loss {
 color:#c33
}
.crosstable .unavailable {
 margin-top:40px;
 opacity:0.7
}
.fbt {
 text-transform:uppercase;
 line-height:1.5;
 transition:all 150ms
}
@media (hover: hover) {
 .fbt:hover:not(.disabled):not([disabled]) {
  background:#537c23;
  color:#fff
 }
}
.fbt.active {
 background:#629924 !important;
 color:#fff
}
.fbt.disabled,
.fbt[disabled] {
 opacity:0.5;
 cursor:default
}
.cmn-toggle {
 position:absolute;
 margin-left:-99999px
}
.cmn-toggle+label {
 display:block;
 position:relative;
 cursor:pointer;
 outline:none;
 -webkit-user-select:none;
 -moz-user-select:none
}
.cmn-toggle+label {
 padding:1px;
 width:40px;
 height:24px;
 background-color:#404040;
 border-radius:24px
}
.cmn-toggle+label::before,
.cmn-toggle+label::after {
 display:block;
 position:absolute;
 top:1px;
 left:1px;
 bottom:1px;
 content:""
}
.cmn-toggle+label::before {
 right:1px;
 background-color:#c33;
 border-radius:24px
}
.cmn-toggle--subtle+label::before {
 background-color:#6b6b6b
}
.cmn-toggle:hover+label::before {
 transition:background 150ms
}
.cmn-toggle+label::after {
 width:22px;
 border-radius:100%;
 box-shadow:0 1px 2.5px rgba(0,0,0,0.3)
}
.cmn-toggle:hover+label::after {
 transition:margin 150ms
}
.cmn-toggle:checked+label::before {
 background-color:#629924
}
.cmn-toggle:checked+label::after {
 margin-left:16px
}
input[type=range] {
 -webkit-appearance:none;
 background:none;
 border:0
}
input[type=range]:focus {
 outline:none
}
input[type=range]::-webkit-slider-runnable-track {
 width:100%;
 height:1em;
 cursor:pointer;
 background:#4d4d4d;
 border-radius:.5em
}
input[type=range]::-webkit-slider-thumb {
 background:linear-gradient(to bottom, #3c3934, #33312e 100%);
 border:1px solid #6b6b6b;
 height:1em;
 width:1.5em;
 border-radius:12px;
 background:#262421;
 cursor:pointer;
 -webkit-appearance:none;
 margin-top:-0.3px
}
input[type=range]::-moz-range-track {
 width:100%;
 height:1em;
 cursor:pointer;
 background:#4d4d4d;
 border-radius:.5em
}
input[type=range]::-moz-range-thumb {
 background:linear-gradient(to bottom, #3c3934, #33312e 100%);
 border:1px solid #6b6b6b;
 height:1em;
 width:1.5em;
 border-radius:12px;
 background:#262421;
 cursor:pointer
}
input[type=range]::-ms-track {
 width:100%;
 height:1em;
 cursor:pointer;
 background:#4d4d4d;
 border-radius:.5em
}
input[type=range]::-ms-fill-lower {
 background:rgba(191,191,191,0.78);
 border-radius:11.8px
}
input[type=range]::-ms-fill-upper {
 background:rgba(214,214,214,0.78);
 border-radius:11.8px
}
input[type=range]::-ms-thumb {
 background:linear-gradient(to bottom, #3c3934, #33312e 100%);
 border:1px solid #6b6b6b;
 height:1em;
 width:1.5em;
 border-radius:12px;
 background:#262421;
 cursor:pointer;
 border-color:transparent;
 color:transparent
}
.tview2 move {
 display:inline-block;
 cursor:pointer
}
.tview2 {
 white-space:normal
}
.tview2-inline {
 padding:7px 3px 7px 7px
}
.tview2-column move {
 font-size:1.092em;
 padding:0 2px
}
.tview2-inline move {
 padding:.25em .17em;
 white-space:nowrap;
 font-weight:bold
}
.tview2 move.parent {
 color:#3692e7
}
.tview2 comment a {
 vertical-align:top
}
.tview2 move.current {
 border:1px solid #d64f00
}
.tview2 move.active {
 font-weight:bold;
 background:#293a49
}
.tview2 move.nongame {
 font-style:italic
}
.tview2 move:not(.empty):hover,
.tview2 move:not(.empty):hover index,
.tview2 move:not(.empty):hover eval {
 background:#3692e7;
 color:#fff
}
.tview2 move.empty {
 color:#6b6b6b;
 cursor:default
}
.tview2 move index {
 font-size:90%;
 color:#999
}
.tview2 move.context-menu {
 background:#d64f00;
 color:#fff
}
.tview2 move.context-menu index {
 color:#fff
}
.tview2-column move index {
 padding-left:5px
}
.tview2-column move index:first-child {
 padding-left:0
}
.tview2-inline move index {
 padding-right:.2em;
 line-height:111.11%
}
.tview2 line move {
 color:#bababa
}
.tview2-column>move {
 flex:0 0 43.5%;
 display:flex;
 font-size:1.185em;
 line-height:1.75em;
 padding:0 .3em 0 .5em
}
.tview2-column>index+move {
 border-right:#404040
}
.tview2 eval {
 flex:3 0 auto;
 text-align:right;
 font-size:.8em;
 color:#999
}
.tview2 glyph {
 margin-left:.08em;
 vertical-align:bottom
}
.tview2-column>move glyph {
 flex:0 1 auto;
 text-align:center;
 overflow:hidden;
 font-size:.82em
}
.tview2-column>index {
 flex:0 0 13%;
 display:flex;
 justify-content:center;
 border-right:1px solid #404040;
 background:#302e2c;
 line-height:2.07em;
 color:#6b6b6b
}
.tview2>interrupt {
 font-size:95%
}
.tview2-column>interrupt {
 flex:0 0 100%;
 background:#302e2c;
 border-top:1px solid #404040;
 border-bottom:1px solid #404040;
 max-width:100%
}
.tview2-column>interrupt>comment {
 display:block;
 padding:3px 5px
}
.tview2-inline comment {
 vertical-align:45%;
 word-wrap:break-word;
 margin:0 .2em 0 .1em;
 font-size:.9em
}
.tview2 comment .by {
 display:inline-block;
 vertical-align:-.3em;
 font-size:.9em;
 opacity:0.8;
 margin-right:.4em;
 max-width:9em
}
.tview2-column comment.white {
 border-left:3px solid
}
.tview2-column comment.black {
 border-right:3px solid;
 overflow-x:hidden
}
.tview2-column comment.inaccuracy {
 border-color:#56B4E9
}
.tview2-column comment.mistake {
 border-color:#E69F00
}
.tview2-column comment.blunder {
 border-color:#DF5353
}
.tview2-column comment.undefined {
 border-color:#66558C
}
.tview2 line comment {
 font-size:90%
}
.tview2-column line comment {
 display:inline;
 color:#999;
 word-wrap:break-word;
 padding:0 5px 0 3px;
 vertical-align:top
}
.tview2 line comment .by {
 font-size:1em;
 vertical-align:top
}
.tview2 lines {
 display:block;
 margin-top:2px;
 margin-left:6px;
 margin-bottom:.8em;
 border-left:2px solid #404040
}
.tview2>interrupt>lines {
 margin-left:0px
}
.tview2 lines.single {
 border-left:none
}
.tview2 lines:last-child {
 margin-bottom:0
}
.tview2 line {
 display:block;
 padding-left:7px
}
.tview2-column line {
 margin:2px 0
}
.tview2 lines lines move {
 font-size:13px
}
.tview2 lines lines {
 margin-left:1px
}
.tview2 lines lines::before {
 content:' ';
 border-top:2px solid #404040;
 position:absolute;
 margin-left:-11px;
 width:9px;
 height:6px
}
.tview2 lines line::before {
 margin-top:.65em;
 margin-left:-8px;
 content:' ';
 border-top:2px solid #404040;
 position:absolute;
 width:8px;
 height:6px
}
.tview2 lines lines:last-child {
 margin-bottom:0
}
.tview2 inline {
 display:inline;
 font-style:italic;
 font-size:.9em;
 opacity:0.8
}
.tview2 inline::before,
.tview2 inline::after {
 vertical-align:.4em;
 opacity:0.7;
 font-size:.9em
}
.tview2 inline::before {
 content:'(';
 margin-left:2px
}
.tview2 inline::after {
 content:')';
 margin-right:2px
}
.tview2-inline inline::before,
.tview2-inline inline::after {
 vertical-align:.7em
}
.tview2 .conceal {
 opacity:0.4
}
.tview2 .hide {
 display:none
}
.ceval {
 position:relative;
 display:flex;
 align-items:stretch
}
.ceval.enabled {
 padding-top:2px;
 height:40px
}
.ceval .switch {
 flex:0 0 40px;
 margin-right:8px
}
.ceval pearl {
 flex:0 0 75px;
 line-height:38px;
 font-size:1.6em;
 text-align:center;
 font-weight:bold
}
.ceval help,
.ceval .engine {
 flex:1 1 auto;
 font-size:12px;
 line-height:16px;
 margin-top:3px;
 color:#999
}
.ceval .engine .cloud {
 margin-left:4px;
 background:#4f7a1d;
 color:#fff;
 padding:1px 3px;
 text-transform:uppercase;
 font-size:11px
}
.ceval .engine .info {
 display:block;
 white-space:nowrap
}
.ceval .engine .deeper {
 color:#3692e7;
 margin-left:4px
}
.ceval .engine .deeper::before {
 vertical-align:-2px
}
.ceval .wasmx {
 margin-left:5px;
 text-transform:uppercase;
 color:#629924
}
.ceval .asmjs,
.ceval .wasm {
 margin-left:5px;
 text-transform:uppercase
}
.ceval .bar {
 position:absolute;
 width:100%;
 height:3px;
 top:0px
}
@-webkit-keyframes bar-anim {
 from {
  background-position:0 0
 }
 to {
  background-position:100000px 0
 }
}
@keyframes bar-anim {
 from {
  background-position:0 0
 }
 to {
  background-position:100000px 0
 }
}
.ceval .bar span {
 display:block;
 height:3px;
 width:0;
 background:#629924;
 transition:width 1s
}
.ceval .bar span.threat {
 background:#c33
}
.ceval.computing .bar span {
 background-image:url("../images/bar-highlight.png");
 -webkit-animation:bar-anim 1000s linear infinite;
 animation:bar-anim 1000s linear infinite
}
.ceval .show-threat {
 flex:0 99 auto;
 line-height:38px;
 color:#999;
 font-size:.9em;
 padding-right:.5em;
 overflow:hidden
}
.ceval .show-threat:hover:not(.hidden),
.ceval .show-threat.active {
 color:#c33
}
.ceval .show-threat.hidden {
 opacity:0.3;
 cursor:default
}
.pv_box {
 background:#262421;
 font-size:13px
}
.pv_box .pv {
 height:2em;
 line-height:2em;
 border-top:1px solid #404040
}
.pv_box .pv[data-uci]:hover {
 background:#323c22;
 cursor:pointer
}
.pv_box .pv strong {
 display:inline-block;
 width:34px;
 text-align:center
}
.pv_box .pv span {
 margin-left:4px
}
main {
 --gauge-gap:8px
}
@media (min-width: 320px) {
 main {
  --gauge-gap:calc(8px + 9 * ((100vw - 320px) / 880))
 }
}
@media (min-width: 1200px) {
 main {
  --gauge-gap:17px
 }
}
.eval-gauge {
 width:var(--gauge-gap);
 position:relative;
 background:#a0a0a0;
 overflow:hidden
}
@media (max-width: 799px) and (orientation: portrait) {
 .eval-gauge {
  display:none
 }
}
.eval-gauge.reverse {
 transform:rotateX(180deg)
}
.eval-gauge::after {
 content:'';
 display:block;
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 right:0;
 box-shadow:0 0 5px rgba(0,0,0,0.7) inset
}
.eval-gauge tick {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 border-bottom:2px ridge #a0a0a0;
 opacity:0.4
}
.eval-gauge tick.zero {
 top:6px;
 opacity:1;
 border-bottom:7px solid rgba(214,79,0,0.4);
 margin-top:-3px
}
.eval-gauge .black {
 width:100%;
 height:50%;
 background:#666;
 transition:height 1s
}
.analyse-controls {
 display:flex;
 justify-content:space-between;
 align-items:stretch;
 font-size:1.3rem
}
.analyse-controls .fbt {
 text-align:center
}
.analyse-controls .hidden {
 visibility:hidden
}
.analyse-controls .jumps {
 display:flex
}
.analyse-controls .jumps .fbt {
 flex:1 1 30%
}
.analyse-controls .jumps .fbt:first-child,
.analyse-controls .jumps .fbt:last-child {
 flex:1 1 20%;
 font-size:.7em
}
#promotion-choice {
 background:rgba(22,21,18,0.7);
 z-index:205
}
#promotion-choice square {
 cursor:pointer;
 border-radius:50%;
 background-color:#b0b0b0;
 box-shadow:inset 0 0 25px 3px #808080;
 transition:all 150ms
}
#promotion-choice piece {
 pointer-events:auto;
 opacity:1
}
.is2d #promotion-choice piece {
 width:100%;
 height:100%;
 transition:all 150ms;
 transform:scale(0.8)
}
#promotion-choice square:hover {
 box-shadow:inset 0 0 48px 8px #d64f00;
 border-radius:0%
}
.is2d #promotion-choice square:hover piece {
 transform:none
}
.variant-racingKings .cg-wrap.cg-wrap cg-container::before {
 background:rgba(230,230,230,0.2);
 width:100%;
 height:12.5%;
 content:'';
 position:absolute;
 left:0;
 z-index:1;
 pointer-events:none
}
.variant-racingKings .cg-wrap.orientation-white cg-container::before {
 top:0
}
.variant-racingKings .cg-wrap.orientation-black cg-container::before {
 bottom:0
}
.variant-kingOfTheHill cg-container::before {
 width:25%;
 height:25%;
 box-shadow:0 0 10px rgba(0,0,0,0.7);
 background:rgba(230,230,230,0.2);
 content:'';
 position:absolute;
 top:37.5%;
 left:37.5%;
 z-index:1;
 pointer-events:none
}
.mselect {
 position:relative;
 white-space:nowrap
}
.mselect__toggle {
 display:none
}
.blind-mode .mselect__toggle {
 display:inherit
}
.mselect__label {
 flex-flow:row nowrap;
 padding:.3rem .3rem .3rem 1rem;
 cursor:pointer
}
.mselect__label::after {
 content:'u';
 font-size:70%;
 color:#3692e7
}
.mselect__toggle:checked ~ .mselect__label {
 transition:opacity 150ms;
 opacity:0
}
.mselect__list {
 position:absolute;
 top:0;
 left:0;
 min-width:100%;
 max-height:60vh;
 overflow-y:auto;
 z-index:110;
 background:#3c3934;
 transform:scale(1, 0);
 transform-origin:top;
 transition:transform 150ms
}
.mselect__list .current {
 background:#302e2c
}
.mselect__list .current::after {
 content:'E';
 flex:1 1 100%;
 text-align:right
}
.mselect__list>* {
 white-space:nowrap;
 display:block;
 padding:.3em 1em;
 transition:all 150ms;
 color:#3692e7;
 opacity:0
}
.mselect__list>*:hover {
 background:#3692e7;
 color:#fff
}
.mselect__list>*::before {
 margin-right:.4em
}
.mselect__toggle:checked ~ .mselect__list {
 transform:scale(1, 1)
}
@media (max-width: 799px) {
 .mselect__toggle:checked ~ .mselect__list {
  position:fixed;
  top:50%;
  transform:translateY(-50%) scale(1, 1)
 }
}
.mselect__toggle:checked ~ .mselect__list>* {
 opacity:1;
 transition:opacity 125ms ease-in-out 125ms
}
.analyse__tools .sub-box,
.action-menu {
 border-bottom:1px solid #404040
}
@media (min-width: 800px), (orientation: landscape) {
 .analyse__tools .sub-box,
 .action-menu {
  border-bottom:3px solid #629924
 }
}
body {
 overflow-y:scroll
}
#main-wrap {
 margin-top:5vh;
 --main-max-width: calc(100vh - calc(var(--site-header-height) + var(--site-header-margin)) - 3rem)
}
@media (min-width: 800px), (orientation: landscape) {
 #main-wrap {
  --main-max-width: auto
 }
}
.analyse {
 grid-area:main;
 display:grid;
 --meta-height: auto;
 grid-template-rows:auto auto minmax(20em, 30vh);
 grid-template-areas:'board' 'tools'
}
.analyse__side {
 grid-area:side;
 justify-content:start;
 margin:2vmin
}
.analyse__board,
.analyse .intro {
 grid-area:board
}
.analyse__tools {
 grid-area:tools
}
.analyse__controls {
 grid-area:controls
}
.analyse__underboard {
 grid-area:under
}
@media (max-width: 799px) and (orientation: portrait) {
 .analyse__underboard {
  overflow:hidden
 }
}
.analyse__acpl {
 grid-area:acpl
}
.analyse .chat__members {
 grid-area:uchat
}
.analyse .eval-gauge {
 grid-area:gauge;
 display:none
}
@supports ((height: -webkit-max-content) or (height: -moz-max-content) or (height: max-content)) {
 .analyse {
  --meta-height: max-content
 }
}
@media (min-width: 800px), (orientation: landscape) {
 .analyse {
  grid-template-columns:minmax(calc(70vmin * var(--board-scale)), calc(100vh * var(--board-scale) - calc(var(--site-header-height) + var(--site-header-margin)) - 3rem)) var(--gauge-gap) minmax(240px, 400px);
  grid-template-rows:fit-content(0);
  grid-template-areas:'board      gauge tools' 'under      .     controls' 'under      .     acpl' 'under      .     side' 'chat       .     side' 'uchat      .     side';
  grid-row-gap:0
 }
 .analyse__side,
 .analyse .chat__members,
 .analyse .mchat {
  margin:2vmin 0 0 0
 }
 .analyse__underboard {
  margin-top:2vmin
 }
 .analyse .eval-gauge {
  display:block
 }
}
@media (max-width: 799px) and (orientation: landscape) {
 .analyse {
  grid-template-columns:minmax(calc(55vmin), calc(100vh - calc(var(--site-header-height) + var(--site-header-margin)) - 2vmin)) var(--gauge-gap) minmax(200px, 240px)
 }
}
@media (min-width: 1260px) {
 .analyse {
  grid-template-columns:minmax(230px, 20vw) 2vmin minmax(calc(70vmin * var(--board-scale)), calc(100vh * var(--board-scale) - calc(var(--site-header-height) + var(--site-header-margin)) - 3rem)) var(--gauge-gap) minmax(240px, 400px);
  grid-template-rows:var(--meta-height) fit-content(0) 2.5em auto;
  grid-template-areas:'side    . board gauge tools' 'chat    . board gauge tools' 'uchat   . under .     controls' 'uchat   . under .     acpl'
 }
 .analyse__side {
  margin-top:0
 }
 .analyse .mchat {
  min-height:10em
 }
 .analyse .crosstable__users {
  flex:7 1 auto
 }
}
.analyse__tools {
 max-height:100vh;
}
.analyse__tools .ceval {
 flex:0 0 38px
}
.analyse__tools .sub-box {
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.analyse__tools .sub-box .title {
 font-size:.9rem;
 line-height:1.9em;
 background:#3e5322;
 padding:0 7px
}
.analyse__moves {
 flex:2 1 0;
 overflow-y:auto;
 overflow-x:hidden;
 border-top:1px solid #404040;
 position:relative
}
.analyse__moves .result,
.analyse__moves .status {
 background:#302e2c;
 text-align:center
}
.analyse__moves .result {
 border-top:1px solid #404040;
 font-weight:bold;
 font-size:1.2em;
 padding:5px 0 3px 0
}
.analyse__moves .status {
 font-size:1em;
 font-style:italic;
 padding-bottom:7px
}
.analyse__controls {
 height:3rem;
 align-items:stretch
}
.analyse__controls div {
 display:flex;
 flex:1 1 auto;
 align-items:stretch
}
.analyse__controls .jumps {
 flex:3 1 auto
}
.analyse__controls .fbt {
 flex:0 0 2.5rem
}
.analyse__controls .active {
 margin-top:-3px;
 padding-top:3px
}
.analyse__controls ::before {
 vertical-align:middle
}
.action-menu {
 flex:1 1 0;
 display:flex;
 flex-flow:column;
 overflow:auto;
 padding:2vmin
}
.action-menu h2 {
 font-size:1em;
 text-transform:uppercase;
 text-align:center;
 white-space:nowrap;
 margin:2vmin 0 3px 0;
 display:table;
 padding:0 10px
}
.action-menu h2:before,
.action-menu h2:after {
 border-top:1px solid #404040;
 content:'';
 display:table-cell;
 position:relative;
 top:.5em;
 width:45%
}
.action-menu h2:before {
 right:8px
}
.action-menu h2:after {
 left:8px
}
.action-menu__tools {
 flex:0 0 auto;
 display:flex;
 flex-flow:row wrap
}
.action-menu__tools>* {
 flex:0 0 50%;
 text-align:center;
 padding:0;
 height:75px;
 justify-content:center
}
.action-menu__tools .button {
 color:#bababa;
 text-transform:none;
 white-space:normal
}
.action-menu__tools .button::before {
 display:block;
 font-size:2em;
 line-height:1em;
 margin-bottom:5px
}
.action-menu .autoplay {
 display:flex
}
.action-menu .autoplay a {
 color:#999;
 font-size:.9em;
 flex:1 1 auto;
 padding:7px 0;
 text-align:center
}
.action-menu form.delete {
 text-align:right;
 margin-top:6px
}
.action-menu form.delete .button {
 display:inline-block;
 padding:0 8px
}
.action-menu form.delete .button::before {
 font-size:1.2em
}
.action-menu .setting {
 flex:0 0 auto;
 margin-top:2vmin;
 display:flex
}
.action-menu .setting label {
 flex:4 1 auto;
 cursor:pointer;
 white-space:nowrap
}
.action-menu .setting input[type=range] {
 flex:1 4 auto;
 padding:0 1em;
 height:1.6em;
 width:100%
}
.action-menu .setting .range_value {
 flex:0 0 auto;
 display:block;
 text-align:right
}
@media (max-width: 799px) and (orientation: portrait) {
 .action-menu .abset-inline {
  display:none
 }
}
.explorer-box {
 position: absolute;;
 flex:2.5 1 0px;
 white-space:nowrap;
 transition:all 150ms;
 transition-delay:0.3s;
 overflow-y:scroll;
 font-size:.9em
}
.explorer-box.reduced {
 flex:0.3 3 0px
}
.explorer-box.reduced:hover {
 flex:1 2 0px
}
.explorer-box .overlay {
 display:none
}
.explorer-box.loading .overlay {
 display:block
}
.explorer-box tbody {
 transition:all 150ms
}
.explorer-box.loading tbody {
 opacity:0.4
}
.explorer-box .title span {
 display:block;
 margin-right:1.9em;
 overflow:hidden;
 text-overflow:ellipsis;
 -webkit-user-select:text;
 -moz-user-select:text;
 -ms-user-select:text;
 user-select:text
}
.explorer-box .empty {
 display:flex;
 flex-flow:column;
 height:100%
}
.explorer-box .empty .message {
 text-align:center
}
.explorer-box tr {
 transition:all 150ms
}
.explorer-box tr:nth-child(even) {
 background:#302e2c
}
.explorer-box tr:hover {
 background:#323c22
}
.explorer-box td {
 cursor:pointer;
 padding-left:7px
}
.explorer-box .moves td:first-child {
 line-height:30px;
 padding-left:7px
}
.explorer-box .moves td:nth-child(2) {
 font-size:.75em;
 text-align:right
}
.explorer-box .moves td:last-child {
 width:100%;
 padding-right:7px
}
.explorer-box .bar span {
 text-align:center;
 display:inline-block;
 overflow:hidden;
 vertical-align:middle;
 border:0 solid #404040;
 border-width:1px 0;
 height:16px;
 line-height:14px;
 font-size:.9em
}
.explorer-box .white {
 background:#ccc;
 box-shadow:0 -5px 7px rgba(0,0,0,0.25) inset;
 color:#222
}
.explorer-box .draws,
.explorer-box .black {
 color:#ddd;
 box-shadow:0 5px 7px rgba(255,255,255,0.1) inset
}
.explorer-box .draws {
 background:#666
}
.explorer-box .black {
 background:#333;
 color:#ddd
}
.explorer-box .bar span:first-child {
 border-left-width:1px
}
.explorer-box .bar span:last-child {
 border-right-width:1px
}
.explorer-box .games {
 width:100%
}
.explorer-box .games td {
 padding:5px 0 5px 7px;
 max-width:110px
}
.explorer-box .games td span {
 display:block
}
.explorer-box .games result {
 display:block;
 text-align:center;
 padding:3px 5px;
 border-radius:3px;
 font-size:.9em
}
.explorer-box .game_menu {
 background:#629924;
 cursor:default;
 padding:0
}
.explorer-box .game_menu .game_title {
 text-align:center;
 color:#fff;
 margin:3px 0 1px 0
}
.explorer-box .game_menu .menu {
 display:flex;
 justify-content:space-between;
 text-transform:uppercase
}
.explorer-box .game_menu .menu a {
 color:#fff;
 padding:4px 8px
}
.explorer-box .game_menu .menu a:hover {
 background:rgba(255,255,255,0.2)
}
.explorer-box .tablebase {
 width:100%
}
.explorer-box .tablebase td:first-child {
 font-size:14px;
 line-height:30px;
 padding-left:7px
}
.explorer-box .tablebase td:last-child {
 padding-right:7px;
 text-align:right
}
.explorer-box .tablebase result {
 padding:3px 5px;
 margin-left:5px;
 border-radius:3px;
 font-size:.9em
}
.explorer-box .toconf {
 position:absolute;
 top:0;
 right:0;
 cursor:pointer;
 display:block;
 font-size:1.2em;
 width:1.5em;
 line-height:1.5em;
 text-align:center;
 opacity:0.8
}
.explorer-box .toconf:hover {
 opacity:1
}
.explorer-box .message {
 text-align:center;
 font-style:italic;
 flex:1 1 100%;
 display:flex;
 flex-flow:column;
 justify-content:center
}
.explorer-box.reduced .message {
 justify-content:flex-start
}
.explorer-box .message strong {
 font-weight:bold;
 margin:1em 0
}
.explorer-box:not(.reduced) .message h3,
.explorer-box.reduced:hover .message h3 {
 font-weight:bold
}
.explorer-box .message p {
 white-space:normal;
 padding:0 8px;
 margin:0 0 8px 0
}
.explorer-box.reduced .message p,
.explorer-box.reduced .message button {
 display:none
}
.explorer-box.reduced:hover .message p,
.explorer-box.reduced:hover .message button {
 display:block
}
.explorer-box .message button {
 margin:0 30px
}
.explorer-box .message.masters i {
 font-size:40px;
 margin:10px 0
}
.explorer-box .config section {
 margin:0.4em 2vmin 0 2vmin
}
.explorer-box .config section.save {
 text-align:center;
 padding:15px 0 10px 0
}
.explorer-box .config label {
 font-weight:bold;
 display:block;
 line-height:2em
}
.explorer-box .config .choices {
 display:flex
}
.explorer-box .config .choices span {
 flex-grow:1;
 padding:5px 0;
 text-align:center;
 cursor:pointer;
 transition:all 150ms;
 border:1px solid #404040;
 border-width:1px 0 1px 1px;
 text-transform:capitalize
}
.explorer-box .config .choices span:last-child {
 border-right-width:1px
}
.explorer-box .config .choices span:hover {
 background:#fff
}
.explorer-box .config .choices span.selected {
 background:#629924;
 color:#fff;
 text-shadow:1px 0 0 rgba(0,0,0,0.5);
 font-weight:bold;
 box-shadow:0 3px 5px rgba(0,0,0,0.2) inset
}
.training-box {
 flex:1.5 1 0px
}
.training-box .feedback {
 flex:1 1 100%;
 display:flex;
 flex-flow:column;
 justify-content:center
}
.training-box .progress {
 margin-top:5px;
 opacity:0.8;
 width:100%;
 height:4px;
 background:#4d4d4d
}
.training-box .progress div {
 background:#629924;
 height:4px;
 transition:width 0.5s;
 max-width:100%
}
.training-box .player {
 display:flex;
 align-items:center;
 margin-left:10px
}
.training-box .no-square {
 width:64px;
 height:64px;
 margin-right:10px
}
.is3d .training-box div.no-square {
 height:82px
}
.training-box piece {
 position:inherit;
 display:block;
 width:100% !important;
 height:100% !important
}
.training-box .icon {
 display:block;
 width:64px;
 height:64px;
 margin-right:10px;
 font-size:50px;
 font-size:64px;
 line-height:64px;
 text-align:center
}
.training-box .instruction>* {
 display:block
}
.training-box .instruction>strong {
 font-weight:normal;
 font-size:1.2em
}
.training-box .choices {
 line-height:1.6em;
 margin:5px 0 -5px 0
}
.training-box .choices a {
 display:block
}
.practice-box {
 flex:0 0 135px;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.practice-box .comment {
 flex:0 0 30px;
 display:flex;
 align-items:stretch;
 background:#302e2c;
 border-top:1px solid 1px solid #404040;
 white-space:nowrap;
 line-height:30px
}
.practice-box .progress div {
 background:#4d4d4d
}
.practice-box.goodMove .progress div {
 background:#629924;
 color:#fff
}
.practice-box.inaccuracy .title,
.practice-box.inaccuracy .progress div {
 background:#bf811d;
 color:#fff
}
.practice-box.mistake .title,
.practice-box.blunder .title,
.practice-box.mistake .progress div,
.practice-box.blunder .progress div {
 background:#c33;
 color:#fff
}
.practice-box .comment .wait {
 padding-left:15px
}
.practice-box .verdict {
 font-weight:bold;
 margin-right:10px;
 display:flex
}
.practice-box .verdict::before {
 width:30px;
 height:100%;
 color:#fff;
 margin-right:7px;
 text-align:center;
 font-size:1.4em;
 font-weight:normal
}
.practice-box.goodMove .verdict {
 color:#629924
}
.practice-box.goodMove .verdict::before {
 background:#629924;
 content:'✓';
 font-size:1.7em
}
.practice-box.inaccuracy .verdict {
 color:#bf811d
}
.practice-box.inaccuracy .verdict::before {
 background:#bf811d;
 content:'?'
}
.practice-box.mistake .verdict,
.practice-box.blunder .verdict {
 color:#c33
}
.practice-box.mistake .verdict::before,
.practice-box.blunder .verdict::before {
 background:#c33;
 content:'✗'
}
.practice-box .comment move {
 cursor:pointer;
 margin-left:5px;
 color:#3692e7;
 transition:0.3s
}
.analyse__fork {
 flex:0 0 auto
}
@media (max-width: 799px) and (orientation: portrait) {
 .analyse__fork {
  display:none
 }
}
.analyse__fork move {
 background:#2a4053;
 color:#ccc;
 flex:0 0 50%;
 cursor:pointer;
 padding:.2em 1em;
 border-bottom:1px solid #262421
}
.analyse__fork move:nth-child(odd) {
 border-right:1px solid #262421
}
.analyse__fork move:hover,
.analyse__fork:not(:hover) move.selected {
 background:#3692e7;
 color:#fff
}
.analyse__fork glyph {
 margin-left:2px
}
.analyse__fork eval {
 flex:3 0 auto;
 text-align:right;
 font-size:.9em
}
.analyse__side {
 align-self:start
}
.analyse__side .back-to-game {
 margin-top:2em;
 text-align:center
}
@media (min-width: 1260px) {
 .analyse__side .back-to-game {
  margin-top:10vh
 }
}
.analyse__side .back-to-game .button {
 margin:0 auto
}
#analyse-cm {
 background:#262421;
 position:absolute;
 display:none;
 z-index:107;
 cursor:default
}
#analyse-cm.visible {
 display:block
}
#analyse-cm .title {
 padding:.4em;
 text-align:center;
 font-size:1.2em;
 border-bottom:1px solid #404040;
 margin:0
}
#analyse-cm a {
 color:#bababa;
 padding:.5em .6em .5em .3em
}
#analyse-cm a::before {
 width:2em;
 text-align:center
}
#analyse-cm a:hover {
 background:#38291e
}
.copyables .pair {
 position:relative
}
.copyables .pair .action {
 position:absolute;
 right:0;
 top:100%;
 text-align:right;
 opacity:0;
 transition:all 150ms
}
.copyables .pair textarea:focus ~ .action {
 opacity:1
}
.copyables .name {
 flex:0 0 5ch;
 font-weight:bold;
 color:#999
}
.copyables .copyable {
 flex:1 1 auto
}
.copyables .pgn {
 margin:1em 0
}
.copyables .pgn textarea {
 min-height:6em;
 white-space:pre-wrap;
 overflow-x:hidden
}
.mselect {
 font-size:1.5em
}
.mselect label span::before,
.mselect a::before {
 line-height:0
}