.action-bar {
    color: #4d4d4d;
}
.action-bar {
    margin-top:2%;
    min-height: 2rem;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.action-bar .icons, .action-bar .move-number {
    flex-shrink: 0;
    flex-grow: 1;
    white-space: nowrap;
}

.action-bar .controls {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 30rem;
    display: flex;
}

.action-bar .controls .move-control {
    flex-shrink: 0;
    flex-grow: 1;
    cursor: pointer;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 sans-serif;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.explorer-box .config section {
    margin: 0.4em 2vmin 0 2vmin;
}

.explorer-box .config label {
    font-weight: bold;
    display: block;
    line-height: 2em;
}

.explorer-box .config .choices {
    display: flex;
}

.explorer-box .config .choices span:first-child {
    border-radius: 3px 0 0 3px;
}

.explorer-box .config .choices span {
    flex-grow: 1;
    padding: 5px 20px;
    text-align: center;
    cursor: pointer;
    transition: all 150ms;
    border: 1px solid #404040;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
    border-width: 1px 0 1px 1px;
    text-transform: capitalize;
}

.explorer-box .config .choices span.selected {
    background: #629924;
    font-family: 'sans-serif';
    color: #fff;
    text-shadow: 1px 0 0 rgba(0,0,0,0.5);
    font-weight: bold;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2) inset;
}

.explorer-box .config .choices span:last-child {
    border-right-width: 1px;
}

.explorer-box .config .choices span:last-child {
    border-radius: 0 3px 3px 0;
}

.explorer-box .config section.save {
    text-align: center;
    padding: 15px 0 10px 0;
}

.button, .button:visited {
    color: #fff;
}

.button {
    background: #3692e7;
    text-transform: uppercase;
    padding: .6em 1em;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 150ms;
    white-space: nowrap;
}

.button-green {
    background: #629924;
}

#powerTip, #miniGame, .vstext, input, textarea, select, .data-count::after, .unread, .button, .btn-rack {
    border-radius: 3px;
}

.button, .button.button-empty:not(.disabled):hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
}

.button {
    font-family: 'sans-serif';
    font-weight: 300;
}

button, input, optgroup, select, textarea {
    font: inherit;
        font-weight: inherit;
        font-family: inherit;
    color: #bababa;
    outline-color: #3692e7;
}

.is.text::before, .text[data-icon]::before {
    margin-right: .4em;
}

.is::before, [data-icon]::before, .is-after::after, .rp::before, .user-link .line {
    font-size: 1.2em;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    content: attr(data-icon);
    opacity: 0.9;
}